/* desktop */
@media screen and (min-width: 1300px) {
    .hidden-lg {
        display: none;
    }
}

/* all devices below desktop */
@media screen and (max-width: 1299.98px) {
    .exploration-media {
        gap: 20px;
    }

    .exploration-row + .exploration-row {
        margin-top: 0px;
    }

    .hidden-lg.exploration-row + .hidden-lg.exploration-row {
        margin-top: 80px;
    }

    .exploration-row.tablet-mobile-only + .exploration-row.tablet-mobile-only {
        margin-top: 64px;
    }

    .exploration-thumb {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 16px;
        border-radius: 12px;
        background-color: var(--neutral-2);
    }

    .exploration-thumb::after {
        display: none;
    }

    .exploration-thumb__info {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .exploration-thumb__tags {
        position: static;
        flex: 1;
        flex-wrap: wrap;
    }

    .exploration-tag {
        background: var(--neutral-1);
        color: var(--neutral-5);
    }

    .exploration-thumb__link {
        width: 24px;
        height: 24px;
        position: static;
        background: var(--accent-1);
    }

    .exploration-thumb__icon {
        color: var(--neutral-1);
    }

    .hidden-lg.exploration-row .exploration-thumb:nth-of-type(6) {
        grid-row: span 2;
    }
}

/* landscape-tablet + small-laptop */
@media screen and (min-width: 1000px) and (max-width: 1299.98px) {
    .hidden-md {
        display: none;
    }

    :root {
        /* container-margin */
        --container-margin-lg: 80px;
    }
    .about-column {
        width: 45%;
    }

    .header-subpage .nav-bar {
        display: none;
    }

    .step-row {
        flex-direction: column;
        align-items: start;
    }
}

/* tablet + mobile */
@media screen and (max-width: 999.98px) {
    .hidden-lt-md {
        display: none;
    }

    .heading-6 {
        font-size: 4rem;
    }

    .heading-7 {
        font-size: 3.2rem;
    }

    .header-subpage .nav-bar {
        display: none;
    }

    .project {
        flex-direction: column;
    }

    .project-btn {
        margin-top: 0px;
    }

    .about-row {
        flex-direction: column;
    }

    .about-row-reverse {
        flex-direction: row;
    }

    .exploration-row {
        flex-direction: column;
        gap: 20px;
    }

    .about-column__avatar {
        margin-top: -32px;
    }

    .header-subpage .nav-bar {
        display: none;
    }

    .step-row,
    .step-content__header {
        flex-direction: column;
        align-items: start;
    }

    .step-content__header {
        gap: 44px;
    }

    .step-content,
    .step-learning {
        padding: 44px;
    }

    .step-learning {
        flex-direction: column;
        gap: 20px;
    }

    .step-content__info,
    .step-learning__info,
    .step-learning__desc-wrapper {
        max-width: none;
    }

    .step-content__media {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .step-content__img--2columns {
        grid-column: span 1;
    }

    .step-content__img--half-column {
        width: 50%;
    }

    .highlight-list {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .step-content--row {
        flex-direction: column;
        align-items: start;
    }

    .exploration-media {
        max-width: none;
    }

    .workoverview-inner {
        flex-direction: column;
    }

    .workoverview__right-column {
        padding-top: 0px;
    }

    .step-content__video {
        min-width: 0px;
    }
}

/* tablet */
@media screen and (min-width: 576px) and (max-width: 999.98px) {
    .hidden-sm {
        display: none;
    }

    :root {
        /* container-margin */
        --container-margin-lg: 80px;
        --container-margin-sm: 64px;

        /* section-vertical-padding */
        --section-padding-lg: 80px;
        --section-padding-sm: 32px;
    }

    .body-2 {
        font-size: 1.8rem;
    }

    .project + .project {
        margin-top: 64px;
    }

    .about-column {
        margin-top: 32px;
        width: 72%;
    }

    .about-row + .about-row,
    .about-row-reverse {
        margin-top: 64px;
    }

    .about-column__desc + .about-column__desc {
        margin-top: 20px;
    }

    .subpage-hero__media {
        margin-top: 44px;
    }

    .workoverview__left-column,
    .workoverview__right-column,
    .highlight-info__desc.workoverview-highlight {
        max-width: none;
    }

    .step {
        gap: 32px;
    }

    .step-content__media-no-padding {
        margin: 0 -44px -44px;
    }

    .step-content__thumb,
    .step-content__video {
        border-radius: 12px;
    }
}

/* mobile */
@media screen and (max-width: 575.98px) {
    .hidden-xs {
        display: none;
    }

    :root {
        /* container-margin */
        --container-margin-lg: 32px;
        --container-margin-sm: 32px;

        /* section-vertical-padding */
        --section-padding-lg: 60px;
        --section-padding-sm: 16px;
    }

    .heading-1 {
        font-size: 31vw;
        text-align: center;
    }

    .heading-2 {
        font-size: 6rem;
    }

    .heading-3 {
        font-size: 5.2rem;
    }

    .heading-6 {
        font-size: 3.6rem;
    }

    .body-2 {
        font-size: 1.5rem;
    }

    .hero {
        padding: var(--section-padding-sm) 0 var(--section-padding-lg);
    }

    .nav-bar__list {
        margin-left: auto;
        width: fit-content;
    }

    .nav-bar__link {
        padding: 16px 8px;
    }

    .hero__inner {
        flex-direction: column-reverse;
        gap: 64px;
    }

    .project-list {
        padding: var(--section-padding-sm) 0 var(--section-padding-sm);
    }

    .project {
        padding: 20px;
    }

    .project + .project {
        margin-top: 32px;
    }

    .project-img:last-child {
        margin-bottom: 0px;
    }

    .about-column {
        width: 100%;
    }

    .about-row {
        gap: 24px;
    }

    .about-row + .about-row {
        margin-top: 64px;
    }

    .about-column__desc + .about-column__desc {
        margin-top: 20px;
    }

    .exploration-media {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .footer__top-row {
        align-items: start;
        margin-bottom: 64px;
    }

    .footer__highlight-info {
        width: 100%;
    }

    .subpage-hero__media {
        margin-top: 44px;
        border-radius: 4px;
    }

    .workoverview-inner {
        gap: 44px;
    }

    .workoverview-btn {
        max-width: none;
    }

    .step,
    .step-row,
    .step-content {
        gap: 32px;
    }

    .step-block {
        min-height: 150px;
    }

    .step-content,
    .step-learning {
        padding: 28px;
    }

    .step-content__media {
        gap: 20px;
    }

    .step-content__thumb,
    .step-content__video {
        border-radius: 4px;
    }

    .step-showcase {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .step-showcase--2columns {
        grid-column: auto;
    }

    .step-content__media-no-padding {
        margin: 0 -28px -28px;
    }

    .step-content__img--half-column {
        width: 100%;
    }
}

/* override hover for mobile/tablet touch */
@media (hover: none) and (pointer: coarse) {
    .btn:hover {
        background-color: var(--neutral-1);
        color: var(--accent-1);
    }
    .btn:active {
        background-color: var(--accent-1);
        color: var(--neutral-1);
    }
}
